.LivroListaItem {
  font-family: "Exo";
  background: rgba(7, 7, 7, 0.55);
  border-radius: 10px;
  padding: 10px;
  width: 290px;
  display: flex;
  margin-top: 10rem;
  margin-bottom: -6rem;
  margin-left: 35px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

@media (max-width: 400px) {
  .LivroListaItem {
    width: 210px;
    height: 180px;
  }
}

.LivroListaItem--disable {
  box-shadow: 0px 0px 7px #01d9ff;
}

.LivroListaItem--disable,
.LivroListaItem--disable .LivroListaItem__preco {
  color: gray;
}

.LivroListaItem--disable .LivroListaItem__badge {
  display: none;
}

.LivroListaItem--disable img {
  filter: grayscale(100%);
}

.LivroListaItem--disable button:disabled {
  background-color: gray;
}

.LivroListaItem__tag {
  background-color:  #01d9ffcc !important;
  color: white !important;
  position: absolute;
  font-size: 0.7em;
  border-radius: 5px;
  padding: 5px;
  top: -15px;
  left: -10px;
  letter-spacing: 1px;
}

.LivroListaItem__tag--deletar {
  background-color: red !important;
}

.LivroListaItem--deletar {
  box-shadow: 0px 0px 7px rgba(211, 0 ,0);
}

.LivroListaItem__badge {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: black;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}

.LivroListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.3rem;
  width: 100%;
}

.LivroListaItem__titulo {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0.5rem;
}

.LivroListaItem__autor {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.LivroListaItem__preco {
  color: #01d9ff;
  margin-bottom: 0.5rem;
}

.LivroListaItem__capa {
  position: relative;
  width: 180px;
  height: 310px;
  margin-top: 10px;
  margin-right: -30px;
  border-radius: 10px;
}

.Acoes {
  display: flex;
  justify-content: space-between;
}

.Acoes__adicionar,
.Acoes__remover {
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 50%;
  margin-right: 5px;
}

.Acoes__remover {
  background-color: rgb(183, 2, 2);
}

.Acoes__adicionar {
  background-color: #008ea7;
}

.Acoes__adicionar:hover {
  background-color: #00d9ff;
  color: black;
  transition: all 0.3s ease-in-out;
}

.Acoes__remover:hover {
  background-color: red;
  color: black;
  transition: all 0.3s ease-in-out;
}

.Acoes__adicionar--preencher {
  width: 100%;
}

.LivroListaItem__badge {
  background-color: #00d9ff;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: black;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  top: -9px;
  left: -10px;
}
